nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container-fluid')
        div(class='navbar-header')
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#header-bar')
                span(class='sr-only') Toggle navigation
                span(class='icon-bar')
                span(class='icon-bar')
            a(class='navbar-brand')
        div(class='collapse navbar-collapse', id='header-bar')
            ul(class='nav navbar-nav')
                li
                    a(ui-sref="home") Home
                li
                    a(ui-sref='users') Users
            button(type='button', class='btn-logout btn btn-deafult navbar-btn', ng-click='logout()') Logout