-var menu = {'Home': 'home', 'Info': 'info'};
nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container-fluid')
        div(class='navbar-header')
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#header-bar')
                span(class='sr-only') Toggle navigation
                span(class='icon-bar')
                span(class='icon-bar')
            a(class='navbar-brand')
        div(class='collapse navbar-collapse', id='header-bar')
            ul(class='nav navbar-nav')
                each val, key in menu
                    if selected == key
                        li.active
                            a(href='')= key
                            //use href to get the pointer hand
                    else
                        li
                            a(ui-sref=val)= key
            button(type='button', class='btn-logout btn btn-deafult navbar-btn', ng-click='logout()') Logout