
body {
  padding: 50px;
}

h1 {
  font-size: 65px;
  text-align: center;
}

h3 {
  font-size: 45px;
  text-align: center;
  margin: 20px;
}

input {
  margin: 10px 0px;
}

a {
  color: #00B7FF;
}

.regboxLeft {
    width: 500px;
    float: left;
}

.regboxRight {
    width: 500px;
    float: right;
}

.regButton {
    clear: both;
}

.radiusButtonDiv {
    float: right;
}


.radiusButton {
    width: 100px;
    text-align: left;
}

.div-center-circleBtn {
    margin-left: auto;
    margin-right: auto;
    width: 9.5em;
}

.div-center {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}

.btn-circle {
    alignment: center;
    width: 130px;
    height: 130px;
    text-align: center;
    color: #fff;
    background: #4060A5;
    font-size: 25px;
    line-height: 1.42;
    border-radius: 65px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-circle:hover {
    color: #4060A5;
    background: #fff;
}

.div-logout {
    float: right;,
    margin-top: none;
}