
body {
  padding: 50px;
}

h1 {
  font-size: 65px;
  text-align: center;
}

h3 {
  font-size: 45px;
  text-align: center;
  margin: 20px;
}

h4 {
    font-size: 25px;
    text-align: center;
}

input {
  margin: 10px 0;
}

a {
  color: #00B7FF;
}

.regButton {
    clear: both;
    max-width: 300px;
    margin: 0 auto;
}

.div-center-circleBtn {
    margin-left: auto;
    margin-right: auto;
    width: 9.5em;
}

.div-center {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}

.btn-circle {
    alignment: center;
    width: 130px;
    height: 130px;
    text-align: center;
    color: #fff;
    background: #4060A5;
    font-size: 25px;
    line-height: 1.42;
    border-radius: 65px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-circle:hover {
    color: #4060A5;
    background: #fff;
}

.margin-top-big {
    margin-top: 150px;
}

.margin-top-very-small {
    margin-top: 10px;
}

.no-margin-left {
    margin-left: -15px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.angular-google-map-container {
    height: 450px;
    width: 800px;
    float: left;
}

.labels {
    background: #eee;
    border: 2px solid #777;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
}

.label-user-pos {
    background: #8ffb8f;
    border: 2px solid #5cb85c;
}

#selectedPlaces {
    width: 300px;
    height: 450px;
    float: right;
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 4px;
    overflow-y: auto;
}

.placesItem {
    margin-bottom: 0;
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: #555;
}

.alertMsg {
    display: none;
}

.btn-logout {
    float: right;
}

.main-form {
    max-width: 700px;
    margin: 0 auto;
}