div(class='container')
    h1 {{name}}

    div(class='div-center-circleBtn')
        button(type='button', class='btn-circle', ng-click='match()') Find a Match

    div(class='div-center')
        button(type='button', class='btn btn-block btn-primary', ng-click='editInfo()') Edit my Information

    ui-view