div(class='container')
    h1 {{userName}}

    div(class='div-center')
        button(type='button', class='btn-circle', style='margin-bottom: 30px; margin-top: 50px;' ng-click='match()') Find a Match

    div(class='div-center' style='width: 12em;')
        button(type='button', class='btn btn-default btn-block btn-primary', ng-click='editInfo()') Edit my Information