div(class='container')
   h1 Welcome to #{title}
   h3 Are you hungry?

   div(class='text-center')
      input(type='text', id='inputEmail', class='form-control', placeholder="Enter your email", ng-model='email', required, autofocus)
      input(type='password', class='form-control', placeholder="What's your password", ng-model='password', required)

      button(type='button', class='btn btn-default btn-block btn-primary', ng-click='logIn()') Log in
      button(type='button', class='btn btn-default btn-block btn-primary', ng-click='signUp()') Sign up
