div(class='container', ng-if='init()')
    -var selected = 'Info';
    include ./includes/banner.jade
    h1 Welcome {{currentUser.firstname}}

    div(ng-repeat='user in users')
        p Username: {{user.email}}
        p Password: {{user.password}}
        p Firstname: {{user.firstname}} Lastname: {{user.lastname}}
        p Age: {{user.age}} Radius: {{user.radius}}
        p Wants to be matched: {{user.wantsToBeMatched}}
        p Restaurants: {{user.restaurants}}

div(class='container', ng-if='init() == false')
    include ./includes/invalid.jade
