div(class='container')
    h1 Welcome to Lunchr
    h3 Are you hungry?


    div(class='text-center')
        div(ng-show='errorsMessages', class='alert alert-danger')
            p {{errorsMessages}}

        form
            input(type='text', id='inputEmail', class='form-control', placeholder="Enter your email", ng-model='email', required, autofocus)
            input(type='password', class='form-control', placeholder="What's your password", ng-model='password', required)

            button(type='submit', class='btn btn-default btn-block btn-primary', ng-click='logIn()') Log in
            button(type='button', class='btn btn-default btn-block btn-primary', ng-click='createAccount()') Create Account
