div(class='container')
    h1 Restaurants Near You

    //This is the map div, its properties are in the style.css file
    div( id='error',  class='alert alert-danger text-center alertMsg' )
    
    div( id='warning', class='alert alert-warning text-center alertMsg' )
        
    ui-gmap-google-map( center='map.center', zoom='map.zoom' )
        ui-gmap-marker( ng-repeat='m in markers', idKey="'m.id'", coords="m.coords", icon="m.icon", options="m.options", click="m.click" )

    div( id="selectedPlaces" class="list-group" )