div(class='container')
    h1 Pick a Place on the Map

    //this should actually be "div(ui-view)" but for some reason that doesn't work...
    //See http://goo.gl/TVBKXO
    ui-gmap-google-map(center='map.center', zoom='map.zoom')
        h2 start with this

