div(class='container')
    h1 Greatness awaits...

    h3 But first, tell us a bit about yourself

    div(class='text-center')
        div(ng-show='errorMessages', class='alert alert-danger')
            p {{errorMessages}}

<<<<<<< HEAD
        form
    =======
            div(class='regboxLeft')
    >>>>>>> Added fields to registration page & layout changes
                input(type='text', id='inputEmail', class='form-control', placeholder="Enter your email", ng-model='email', required, autofocus)
                input(type='text', id='firstName', class='form-control', placeholder="Enter your first name", ng-model='firstname', required)
                input(type='text', id='lastName', class='form-control', placeholder="Enter your last name", ng-model='lastname', required)
                input(type='password', class='form-control', placeholder="Enter a password", ng-model='password', required)
    
    <<<<<<< HEAD
                button(type='submit', class='btn btn-default btn-block btn-primary', ng-click='register()') Register
    =======
            div(class='regboxRight')
                input(type='text', id='userAge', class='form-control', placeholder="Enter your age", ng-model='age', required)
                div(class="btn-group")
                    button(type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false") Radius (km) 
                        span(class="caret")
                    ul(class="dropdown-menu" role="menu")
                        li 1
                        li 2
    
            button(type='button', class='btn btn-default btn-block btn-primary regButton', ng-click='register()') Register
>>>>>>> Added fields to registration page & layout changes
