div(class='container', ng-if='init()')
    include ./includes/banner.jade
    h1 Welcome {{currentUser.firstname}}

    p(ng-repeat='user in users').
        Username: {{user.email}} Password: {{user.password}}
        Firstname: {{user.firstname}} Lastname: {{user.lastname}}
        Age: {{user.age}} Radius: {{user.radius}}
        Wants to be matched: {{user.wantsToBeMatched}}

    //this should actually be "div(ui-view)" but for some reason that doesn't work...
    //See http://goo.gl/TVBKXO
    ui-view
div(class='container', ng-if='init() == false')
    include ./includes/invalid.jade
