doctype html
html(lang='en', ng-app='lunchr')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name='viewport' content="width=device-width, initial-scale=1")
        title Lunchr
        base(href='/')

        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/js/dropdown.js')
        script(src='/bower_components/angular/angular.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
        script(src='/bower_components/angular-socket-io/socket.js')
        script(src='/bower_components/socket.io-client/socket.io.js')
        script(src='/bower_components/angular-cookies/angular-cookies.js')
        script(src='javascripts/angular-app.js')
        script(src='javascripts/controllers.js')
        script(src='bower_components/lodash/dist/lodash.js')
        script(src='bower_components/angular-google-maps/dist/angular-google-maps.js')
        script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places')
        script(src='bower_components/angularjs-google-places/src/angularjs-google-places.js')
        script(src='javascripts/factories.js')
        script(src='javascripts/services.js')

    body
        block content